<div class='container'>
<div class="page-header juvel-header row sukhumvit">
			<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
				<h2>เกี่ยวกับเรา</h2>
			</div>
		</div>
    
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      {{#each aboutBrand.data.images}}
	    <img src="{{url}}"/>
      {{/each}}
    </div>
  </div>
  <br/>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
	  {{{aboutBrand.data.article}}}
    </div>
  </div>
  
</div>
