<form action="/checkout" method="post">
	<div class="container sukhumvit">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='orders' }}
			</div>
			<div class="col-md-9">
				<div class="panel panel-primary">
				  <div class="panel-heading">
				  <div class="row">
				  <div class="col-md-3">
				  	<small>สั่งซื้อเมื่อวันที่</small><br>30/10/2005
				  </div>
				  <div class="col-md-3">
				  	<small>รายการสั่งซื้อ</small><br>#1030000
				  </div>
				  <div class="col-md-3">
				  	<small>ยอดสุทธิ</small><br>3.50 บาท
				  </div>
				  <div class="col-md-3 pull-right align-right">
				  	<i class="fa fa-hourglass"></i> กำลังดำเนินการ
				  </div>
				  </div>
				  </div>
				  
				  <div class="panel-body">
				    <div class="row">
					    <div class="col-md-2">
					   		<img src="http://th-live-03.slatic.net/p/tp-link-wireless-usb-adapter-300mbps-run-tl-wn8200nd-black-5844-7020781-1-webp-catalog.jpg" style="width: 100px"/>
					    </div>
					    <div class="col-md-4">
					    	<strong>Black Face Antenna Cream</strong>
					    	<br/>จำนวน: 1 

					    	<p><br/>
					    	<button class="btn btn-sm btn-primary">
					    	<i class="fa fa-pencil"></i>
					    	เขียนรีวิว</button>
					    	</p>
					    </div>
					    <div class="col-md-3 pull-right align-right">
					    	<button class="btn btn-default">Receipt / Detail</button>				    	
					    </div>
				    </div>
				  </div>
				</div>

				<div class="panel panel-danger">
				  <div class="panel-heading">
				  <div class="row">
				  <div class="col-md-3">
				  	<small>สั่งซื้อเมื่อวันที่</small><br>30/12/1994
				  </div>
				  <div class="col-md-3">
				  	<small>รายการสั่งซื้อ</small><br>#1020001
				  </div>
				  <div class="col-md-3">
				  	<small>ยอดสุทธิ</small><br>3.55 บาท
				  </div>
				  <div class="col-md-3 pull-right align-right">
				  	<i class="fa fa-money"></i> รอการชำระเงิน
				  </div>
				  </div>
				  </div>
				  
				  <div class="panel-body">
				    <div class="row">
					    <div class="col-md-2">
					   		<img src="http://th-live-03.slatic.net/p/tp-link-wireless-usb-adapter-300mbps-run-tl-wn8200nd-black-5844-7020781-1-webp-catalog.jpg" style="width: 100px"/>
					    </div>
					    <div class="col-md-4">
					    	<strong>Black Face Antenna Cream</strong>
					    	<br/>จำนวน: 1 

					    	<p><br/>
					    	<button class="btn btn-sm btn-primary" disabled="">
					    	<i class="fa fa-pencil"></i>
					    	เขียนรีวิว</button>
					    	</p>
					    </div>
					    <div class="col-md-3 pull-right align-right">
					    	<button class="btn btn-primary">แจ้งชำระเงิน</button>				    	
					    </div>
				    </div>
				  </div>
				</div>

			</div>
		</div>
	</form>
</div>
