<div class="container sukhumvit">
		<div class="page-header row juvel-header">
		<div class="container sukhumvit">
			<h2>ข้อมูลของฉัน</h2>
		</div>
		</div>
	
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='information' }}
			</div>
			<div class="col-md-9">
				<form action="/me/information" method="post">
					{{> my-information info=info}}
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary sukhumvit">บันทึก / Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	
</div>
