<div class="container sukhumvit">
		<div class="page-header row juvel-header">
		<div class="container sukhumvit">
			<h2>คำสั่งซื้อขอฉัน</h2>
		</div>
</div>
<form action="/checkout" method="post">
	<div class="container sukhumvit">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='orders' }}
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  <div class="row">
				  <div class="col-md-3">
				  	<small>สั่งซื้อเมื่อวันที่</small><br>30/10/2005
				  </div>
				  <div class="col-md-3">
				  	<small>รายการสั่งซื้อ</small><br>#1030000
				  </div>
				  <div class="col-md-3">
				  	<small>ยอดสุทธิ</small><br>3.50 บาท
				  </div>
				  <div class="col-md-3 pull-right align-right">
				  	<i class="fa fa-hourglass"></i> กำลังดำเนินการ
				  </div>
				  </div>
				  </div>
				  
				  <div class="panel-body">
				    <div class="row">
					    <div class="col-md-2">
					   		<img src="http://s9.lximg.com/images/pictures/8197/zoom_2851c42bd7a5f6218f08f7be00c7351432fcbd14_1453278186_SUPERCLEANSE.jpg" style="width: 100px"/>
					    </div>
					    <div class="col-md-4">
					    	<strong><a href="#">Black Face Antenna Cream</a></strong>
					    	<br/>จำนวน: 1 

					    	<p><br/>
					    		<button class="btn btn-sm btn-primary">
					    	<i class="fa fa-pencil"></i> เขียนรีวิว</button>
					    	</p>
					    </div>
					    <div class="col-md-3 pull-right align-right">
					    	<button class="btn btn-default">Receipt / Detail</button>				    	
					    </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</form>
</div>
