<div class="container sukhumvit">
		<div class="page-header row juvel-header">
		<div class="container sukhumvit">
			<h2>ข้อมูลของฉัน</h2>
		</div>
</div>
<form action="/checkout" method="post">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='information' }}
			</div>
			<div class="col-md-9">
				<div class="jumbotron">
					<h2>No order yet</h2>
					<p>คุณยังไม่มีรายการสั่งซื้อสินค้าจากเรา</p>
					<p>
						<a href="/products" class="btn btn-default btn-large">
						Explore Catalog
						</a>
					</p>
				</div>

			</div>
		</div>
	</form>
</div>
