<form action="/checkout" method="post">
	<div class="container sukhumvit">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='information' }}
			</div>
			<div class="col-md-9">
				คุณไม่มีคำสั่งซื้อ
			</div>

		</div>
	</form>
</div>
