<div class="container sukhumvit">
		<div class="page-header row juvel-header">
		<div class="container sukhumvit">
			<h2>คำสั่งซื้อขอฉัน</h2>
		</div>
</div>
<form action="/checkout" method="post">
	<div class="container sukhumvit">
		<div class="row">
			<div class="col-md-3">
				{{> account-nav section='orders' }}
			</div>
			<div class="col-md-9">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  <div class="row">
				  <div class="col-md-2">
				  	<small>สั่งซื้อเมื่อวันที่</small><br>30/10/2005
				  </div>
				  <div class="col-md-2">
				  	<small>รายการสั่งซื้อ</small><br>#1030000
				  </div>
				  <div class="col-md-2">
				  	<small>ยอดสุทธิ</small><br>3.50 บาท
				  </div>
				  <div class="col-md-2">
				  	<small>Status</small><br>Shipped
				  </div>
				  <div class="col-md-4 pull-right align-right">
				  	<button class="btn btn-sm btn-primary">
					    		<i class="fa fa-circle-o"></i> ยกเลิกการสั่งซื้อ</button>

								<button class="btn btn-sm btn-attention">
					    		<i class="fa fa-circle-o"></i> แจ้งชำระเงิน</button>
				  </div>
				  </div>
				  </div>
				  
				  <div class="panel-body">
				    <div class="row">
					    <div class="col-md-1">
					   		<img src="http://s9.lximg.com/images/pictures/8197/zoom_2851c42bd7a5f6218f08f7be00c7351432fcbd14_1453278186_SUPERCLEANSE.jpg"
							    style="width: 60px"/>
					    </div>
					    <div class="col-md-7">
					    	<h4><a href="#">Black Face Antenna Cream</a></h4>
					    	จำนวน: 1 
							
					    		
					    </div>
					    <div class="col-md-3 pull-right align-right">
					    	<button class="btn btn-default">
					    		<i class="fa fa-pencil"></i> Write Review</button>    	
					    </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</form>
</div>
