<div class="page-header juvel-header">
   <div class="container sukhumvit">
        <h2><i class="fa fa-shopping-bag" aria-hidden="true"></i> &nbsp; Shopping Bag</h2>
    </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			 Intentionally left blank.
		</div>
		<div class="col-md-3">
			<h2><small class="sukhumvit">ทั้งหมด</small> <br/>1,200 <small>.-</small></h2>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-sm-8 col-xs-0">
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12">
			<a href="#" class="btn btn-default sukhumvit">กลับไป</a>
			<a href="#" class="btn btn-primary sukhumvit">Place Order</a>
		</div>
	</div>
</div>
