<form method="POST" action="/checkout/next">
    <input type="hidden" name="{{csrfTokenKey}}" value="{{csrfTokenValue}}" />

    <div class="container">
        <input type="hidden" name="_next" value="done" />
        <ol class="breadcrumb sukhumvit">
            <li>ตะกร้า</li>
            <li>ข้อมูลผู้รับ</li>
            <li>วิธีจัดส่ง</li>
            <li class="active">ช่องทางการชำระเงิน</li>
        </ol>
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <div class="list-group">
                    <label class="list-group-item" style="font-weight:normal">

                        <strong>Bank Transfer<br/></strong>
                        <span>โอนเงินผ่านธนาคาร แล้วอัพโหลด Slip</span>
                        <input type="radio" name="payment[paymentMethod]" value="bankTransfer" class="payment_mode_radio">

                    </label>
                    <label class="list-group-item disabled" style="font-weight:normal">

                        <strong>Credit Card<br/></strong>
                        <span>Coming Soon</span>
                        <input type="radio" disabled name="payment[paymentMethod]" value="creditCard" class="payment_mode_radio">

                    </label>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 align-right pull-right">
                {{> promo-code }} {{> cost-table }}
            </div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 align-right pull-right">
                <a href="/checkout/shipping" class="btn btn-default sukhumvit">กลับไปแก้ไข</a>
                <button type="submit" href="#" class="btn btn-primary sukhumvit">ถัดไป</button>
            </div>
        </div>
    </div>
</form>

<script>
var selId = '{{ cart_order.payment.paymentMethod }}';

function digest() {
    $('.list-group-item').removeClass('active');
    $('.list-group-item:has(input:checked)').addClass('active');

    var selectedId = $("[type=radio]:checked").attr("value");

    var feeSum = 0;
    $('.fee-entry').each(function() {
        feeSum += Number($(this).val());
    });
    $(".value-subtotal").text(feeSum);
}

if (selId.length > 0) {
    $("[type=radio][value=" + selId + "]").prop("checked", true);
    digest();
}
$('.btn-primary').attr("disabled", "disabled");

$(".payment_mode_radio").change(function() {
    digest();
    $('.btn-primary').removeAttr("disabled");
});

digest();
</script>
