<form method="POST" action="/checkout/next">
	<div class="container">
		<input type="hidden" name="_next" value="payment"/>
		<ol class="breadcrumb sukhumvit">
			<li>ตะกร้า</li>
			<li>ข้อมูลผู้รับ</li>
			<li class="active">วิธีจัดส่ง</li>
			<li>ช่องทางการชำระเงิน</li>
		</ol>
		<div class="row">
			<div class="col-md-5 col-sm-6">
				<div class="list-group">
				  <a href="#" class="list-group-item active">
				    <strong>Kerry Express</strong>
				    <br/>
				    รับสินค้าภายใน 3 วันทำการ สามารถ Track ได้
				    <p>
				    	45.00 บาท
				    </p>
				  </a>
				  <a href="#" class="list-group-item">
				    <strong>ผัสดุลงทะเบียน (EMS)</strong>
				    <br/>
				    รับสินค้าภายใน 4 วันทำการ สามารถ Track ได้
				    <p>
				    	30.00 บาท
				    </p>
				  </a>
				  <a href="#" class="list-group-item">
				    <strong>ผัสดุทั่วไป</strong>
				    <br/>
				    รับสินค้าภายใน 7 วันทำการ 
				    <p>
				    	Free Shipping
				    </p>
				  </a>

				</div>
			</div>
			<div class="col-md-4 col-sm-6 align-right pull-right">
				<div class="input-group">
					<input type="text" class="form-control" name="promo" value="{{promo}}" placeholder="ใช้สิทธิ PROMO CODE"/>
					<span class="input-group-btn">
						<button class="btn btn-primary">Apply</button>
					</span>
				</div></br>
				<table class="table table-condensed">
					<tr>
						<td>Shitty Chinese Cream</td>
						<td>2</td>
						<td>1000 .-</td>
					</tr>
				</table>
				<hr/>
				<h2><small class="sukhumvit">ทั้งหมด</small> <br/>1,200 <small>.-</small></h2>
				<hr/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-4 col-xs-12 align-right pull-right">
				<a href="/checkout/information" class="btn btn-default sukhumvit">กลับไปแก้ไข</a>
				<button type="submit" href="#" class="btn btn-primary sukhumvit">ถัดไป</button>
			</div>
		</div>
	</div>
</form>
