<div class="container">
	<form action="/login" method="POST">
		<input type="hidden" value="{{next}}" name="_next"/> 
		<input type="hidden" name="{{csrfTokenKey}}" value="{{csrfTokenValue}}"/>
		{{> login }}
	</form>
</div>