<ul class="nav nav-pills nav-stacked">
	{{# each accountNavLinks}}
	<li role="presentation" {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}><a href="{{href}}">
	{{ label }}</a>
</li>
{{/each}}
</ul>
