<div class="row">
	<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
		  <div class="form-group">
		    <label>Email address</label>
		    <input type="email" class="form-control" name="email" placeholder="Email">
		  </div>

		   <div class="form-group">
		    <label>Password</label>
		    <small>(<a href="/forgot">ลืมรหัสผ่าน ?</a>)</small>
		    <input type="password" class="form-control" name="password" placeholder="Password">
		  </div>

		  <button type="submit" class="btn btn-primary sukhumvit">
				<strong class="list-group-item-heading">
				<i class="fa fa-lock"></i> เข้าสู่ระบบด้วย Email</strong>
		  </button>


		<div class="list-group sukhumvit">
			<br/>
			<span class="help-block">
				หรือคุณสามารถเข้าสู่ระบบด้วยบัญชี Facebook ของคุณ
			</span>
			
 
			<fb:login-button scope="public_profile,email" size="large" onlogin="fbCheckLoginState();"></fb:login-button>
		</div>
	</div>
</div>
