<div class="input-group">
					<input type="text" class="form-control" name="promo" value="{{cart_order.promo}}" placeholder="ใช้สิทธิ PROMO CODE"/>
					<span class="input-group-btn">
						<button class="btn btn-primary">Apply</button>
					</span>
				</div></br>